<div>
  <form role='form' action="/newStory" method= "post">
    <label for="title">The title of the story:</label>
    <input type= "text" value="{{title}}" name ="title">
    <label for="description">A one line description of the story:</label>
    <input type= "text" value="{{description}}" name ="description">
    <label for="summary">The details of the story:</label>
    <input type= "text" value="{{summary}}" name ="summary">
    <label for="externalURL">A link to your source for the story, if applicable:</label>
    <input type= "text" value="{{externalURL}}" name ="externalURL">
  </form>
</div>