<div>
  <h1 role= "heading">Welcome to The Good News Library!</h1>
</div>

<div class ="container">
  {{#each stories}}
  <div class="story-list">
    <img src="{{homeImage}}">
    <h2>{{title}}</h2>
    <p>
      {{description}}
    </p>
    <a href="/{{id}}"><button>Check out</button></a>
  </div>
  {{/each}}
</div>