<div class = "story">
  <img src = "{{summaryImage}}">
  <h1>You have checked out: {{title}}</h1>
  <p>
    {{summary}}
  </p>
  <p>
    {{externalURL}}
  </p>
  <a href="/"><button>Return story</button></a>
</div>